* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-yellow: #F2C94C;
    --yellow-light: #FCEDC6;
    --green-tertiary: #EFF7F2;
    --black: #0B0706;
    --primary-text: #1D2130;
    --secondary-text: #525560;
    --off-white: #EBF0F9;
    --border-color: #E5E5E5;

    --font-primary: "Roboto", sans-serif;
    --font-logo: "Courgette", cursive;

    --fs-home-heading: 64px;
    --fs-h1: 56px;
    --fs-h2: 48px;
    --fs-h3: 28px;
    --fs-h4: 20px;
    --fs-h5: 14px;
    --fs-h6: 12px;
    --fs-paragraph: 16px;
    --fs-paragraph-small: 14px;
    --fs-logo: 21px;

    --fw-bold: bold;
}

.primary-yellow {
    color: var(--primary-yellow);
}

.yellow-light {
    color: var(--yellow-light);
}

.green-tetriy {
    color: var(--green-tertiary);
}

.black {
    color: var(--black);
}


.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.off-white {
    color: var(--off-white);
}

.border-color {
    color: var(--border-color);
}

.home-heading {
    font-size: var(--fs-home-heading);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.Heading-1 {
    font-size: var(--fs-h1);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.Heading-2 {
    font-size: var(--fs-h2);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.Heading-3 {
    font-size: var(--fs-h3);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.Heading-4 {
    font-size: var(--fs-h4);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.Heading-5 {
    font-size: var(--fs-h5);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.Heading-6 {
    font-size: var(--fs-h6);
    font-family: var(--font-primary);
    font-weight: var(--fw-bold);
}

.paragraph {
    font-size: var(--fs-paragraph);
    font-family: var(--font-primary);
}

.paragraph-small {
    font-size: var(--fs-paragraph-small);
    font-family: var(--font-primary);
}

.i-font {
    font-family: var(--font-logo);
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
}

.navbar-nav .nav-link:hover {
    color: var(--primary-yellow);
}

.btn-primary-text {
    background-color: var(--primary-text);
    color: white;
    font-weight: 500;
}

.btn-primary-text:hover {
    background-color: #d4ac2c;
}

/* Hero */

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero-img {
    object-fit: cover;

    height: 100vh;
}

.btn-hero {
    background-color: white;
    color: var(--primary-text);
    font-weight: 500;
    width: 160px;
}

.btn-hero:hover {
    background-color: #d4ac2c;
    color: white;
}

.hero-play-img {
    width: 24px;
    height: 24px;
}

@media (max-width: 510px) {
    .home-heading {
        font-size: 25px;
    }

    .Heading-4 {
        font-size: 15px;
    }

    .btn-hero {
        transform: scale(0.8);
    }
}

@media screen and (max-height: 400px) {
    .hero-buttom {
        display: none !important;
    }
}



/* Know About us */
.line-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.line-text .line {
    flex-shrink: 0;
    width: 150px;
    height: 3px;
    background-color: var(--primary-text);
    margin-right: 10px;
}

.custum-ms {
    margin-left: 80px;
    width: 100%;
}


.btn-info {
    background-color: var(--primary-yellow);
    font-weight: 500;
    width: 160px;
    padding: 15px 32px;
}

.btn-info:hover {
    background-color: var(--primary-text);
    color: white;
}


@media (max-width: 768px) {
    .Heading-2 {
        font-size: 40px;
    }


}

@media (max-width: 510px) {
    .Heading-2 {
        font-size: 30px;
    }

    .about-img {
        scale: .9;
    }
}

/* our Supporters  */
.support-line {
    flex-shrink: 0;
    width: 100vb;
    height: 3px;
    background-color: var(--border-color);
    margin-right: 10px;
}

@media screen and (max-width: 995px) {
    .Heading-4 {
        font-size: 20px;
    }

    .support-line {
        width: 60vb;
    }
}

@media screen and (max-width: 768px) {
    .Heading-4 {
        font-size: 15px;
    }

    .support-line {
        width: 50vb;
    }
}

@media screen and (max-width: 453px) {
    .Heading-4 {
        font-size: 12px;
    }

    .support-line {
        width: 20vb;
    }
}


/* What we do */
.what-we-do {
    background-color: var(--yellow-light);
}

@media screen and (max-width: 1599px) {
    .what-we-do-img {
        scale: .8;
    }

}

@media screen and (max-width: 359px) {
    .what-we-do .line {
        width: 100px;
    }

    .what-we-do-img {
        scale: .7;
    }
}

/* chart */
.chart {
    background-color: var(--black);
}

.statistic .small-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.teel {
    background-color: #BEF3C0;
}

.perple {
    background-color: #AC94F1;
}

.creem {
    background-color: #FFF0CA;
}

.yellow-ver3 {
    background-color: #F9CF64;
}

.pink {
    background-color: #F38FBF;
}

@media (max-width: 1999px) {
    .Heading-2 {
        font-size: 30px;
    }
}

.small-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}


.chart-img {
    max-width: 100%;
   
}